<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TstoreSubTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B4757021EE11EF000652B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B4757161EE11EF100652B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B4757211EE11EF100652B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
